# Project#1 - UNMC Air Quality Analysis
Nietal Al Nahmo - 
2/2/2026 - 
AirQuality_Daily_StudentVersion

# Imports

In [22]:
# Import

import pandas as pd
import numpy as np

# Load Data

In [23]:
air_data = pd.read_csv('AirQuality_Daily_StudentVersion (1).csv')
air_data.head()

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2_5_alt,pm1_0_atm,pm2_5_atm,pm10_0_atm,sensor_latitude,sensor_longitude,sensor_altitude,sensor_name
0,2024-02-23,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen
1,2024-02-23,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook
2,2024-02-23,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala
3,2024-02-24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen
4,2024-02-24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook

# Dataset Check

In [24]:
print("Shape (rows, cols):", air_data.shape)
air_data.info()

Shape (rows, cols): (8301, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8301 entries, 0 to 8300
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              8301 non-null   object
 1   monitor_index     8301 non-null   int64
 2   humidity          7956 non-null   float64
 3   pressure          7956 non-null   float64
 4   temperature       7956 non-null   float64
 5   voc               7953 non-null   float64
 6   analog_input      8298 non-null   float64
 7   pm2_5_alt         8301 non-null   float64
 8   pm1_0_atm         8301 non-null   float64
 9   pm2_5_atm         8301 non-null   float64
 10  pm10_0_atm        8301 non-null   float64
 11  sensor_latitude   8301 non-null   float64
 12  sensor_longitude  8301 non-null   float64
 13  sensor_altitude   8301 non-null   int64
 14  sensor_name       8301 non-null   object
dtypes: float64(11), int64(2), object(2)
memory usage: 972.9+ KB

# Column Names

In [25]:
air_data.columns

Index(['date', 'monitor_index', 'humidity', 'pressure', 'temperature', 'voc',
       'analog_input', 'pm2_5_alt', 'pm1_0_atm', 'pm2_5_atm', 'pm10_0_atm',
       'sensor_latitude', 'sensor_longitude', 'sensor_altitude',
       'sensor_name'],
      dtype='object')

# Code Cell

In [26]:
air_data.columns = air_data.columns.str.strip().str.lower().str.replace('.', '_')
air_data.head()

# Convert date column

air_data['date'] = pd.to_datetime(air_data['date'])

# Clean working dataset

air_clean = air_data.dropna(subset = ['pm2_5_atm', 'pm10_0_atm'])
air_clean.to_csv('air_clean.csv', index = False)

# Verify

In [27]:
air_clean.shape

# Missing values (if any)

air_clean.isna().sum()

# Save data

air_clean.to_csv('AirQuality_Daily_StudentVersion (1).csv', index = False)
air_clean.shape

(8301, 15)

# Analysis

In [28]:
# filter PM2.5 >= 5

pm25_filtered = air_clean.query('pm2_5_atm >= 5')
pm25_filtered.shape

# filter PM10 < 6 

pm10_filtered = air_clean.query('pm10_0_atm <6')
pm10_filtered.shape


# Group - monitor_index

by_monitor = air_clean.groupby("monitor_index").agg(
    pm25_mean=("pm2_5_atm", "mean"),
    pm10_mean=("pm10_0_atm", "mean"),
    voc_mean=("voc", "mean"),
    temp_mean=("temperature", "mean"),
    humidity_mean=("humidity", "mean"),
    n=("monitor_index", "size")
).reset_index()

by_monitor.head()

,monitor_index,pm25_mean,pm10_mean,voc_mean,temp_mean,humidity_mean,n
0,194969,6.329091,7.281414,285.456355,61.633650,37.313506,284
1,195089,7.501374,9.041440,336.400969,62.077520,36.174745,388
2,195091,11.154420,14.462116,102.291126,69.446804,55.213508,357
3,195103,8.635639,10.254001,130.631408,72.906521,38.871258,172
4,195315,7.927510,8.944145,209.876608,63.119278,38.464275,367